<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CR</key>
	<array>
		<dict>
			<key>PageName</key>
			<string>Front</string>
			<key>PageFileName</key>
			<string>Page1</string>
			<key>Image</key>
			<string>icon_angle_front@4x.png</string>
			<key>page_no</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Back</string>
			<key>PageFileName</key>
			<string>Page2Front</string>
			<key>Image</key>
			<string>icon_angle_back@4x.png</string>
			<key>page_no</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Left</string>
			<key>PageFileName</key>
			<string>Page2Left</string>
			<key>Image</key>
			<string>icon_angle_left@4x.png</string>
			<key>page_no</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Right</string>
			<key>PageFileName</key>
			<string>Page2Right</string>
			<key>Image</key>
			<string>icon_angle_right@4x.png</string>
			<key>page_no</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Details 1</string>
			<key>PageFileName</key>
			<string>Page3</string>
			<key>Image</key>
			<string>icon_details@4x.png</string>
			<key>page_no</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Details 2</string>
			<key>PageFileName</key>
			<string>Page4</string>
			<key>Image</key>
			<string>icon_details@4x.png</string>
			<key>page_no</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Logout</string>
			<key>PageFileName</key>
			<string>Logout</string>
			<key>Image</key>
			<string>icon_logout@4x.png</string>
			<key>page_no</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>IR</key>
	<array>
		<dict>
			<key>PageName</key>
			<string>Front</string>
			<key>PageFileName</key>
			<string>Page1</string>
			<key>Image</key>
			<string>icon_angle_front@4x.png</string>
			<key>page_no</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Details</string>
			<key>PageFileName</key>
			<string>Page3</string>
			<key>Image</key>
			<string>icon_details@4x.png</string>
			<key>page_no</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Logout</string>
			<key>PageFileName</key>
			<string>Logout</string>
			<key>Image</key>
			<string>icon_logout@4x.png</string>
			<key>page_no</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>SR</key>
	<array>
		<dict>
			<key>PageName</key>
			<string>Front</string>
			<key>PageFileName</key>
			<string>Page1</string>
			<key>Image</key>
			<string>icon_angle_front@4x.png</string>
			<key>page_no</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Details</string>
			<key>PageFileName</key>
			<string>Page3</string>
			<key>Image</key>
			<string>icon_details@4x.png</string>
			<key>page_no</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PageName</key>
			<string>Logout</string>
			<key>PageFileName</key>
			<string>Logout</string>
			<key>Image</key>
			<string>icon_logout@4x.png</string>
			<key>page_no</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
